<% include ./partials/header %>

<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48">
                <img src="img/andrea.jpg" alt="" />
            </span>
            <h1 id="title">Andrea Denise</h1>
            <p>Comic Creator</p>
            <a href="/" style="font-size: 14px;">Home</a>
        </div>
    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li>
            <a href="https://www.instagram.com/dyzzyspells/" target="_blank" class="icon fa-instagram">
                <span class="label">Instagram</span>
            </a>
            </li>
            
            <li>
                <a href="https://www.github.com/rslol" class="icon fa-github">
                    <span class="label">Github</span>
                </a>
            </li>
        </ul>

    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">
            <h1>Login Form</h1>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>Submit</button>
            </form>
        </div>
    </section>
</div>

    <!-- Portfolio -->
    

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; Created by Richard Shelton</li>
    </ul>

</div>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>

</body>

</html>